{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <div id="products" class="mb-3">
      {% for p in products %}
      <button class="btn btn-primary btn-lg m-2 product-btn" data-id="{{p.id}}" data-name="{{p.name}}"
        data-price="{{p.price}}">
        {{p.name}} [{{'%.2f' % p.price}}€]
      </button>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-4">
    <div class="row">
      <div class="col">
        <h2>Panier</h2>
      </div>
      <div class="col text-end">
        <button id="clear" class="btn btn-danger btn-sm">Vider le panier</button>
      </div>
    </div>
    <ul id="cart" class="list-group mb-2"></ul>
    <h4>Total : <span id="total">0.00</span>€</h4>
    <hr/>
    <div class="d-grid gap-2">
      <button id="send_standard" class="btn btn-commande btn-success btn-lg m-3">Enregistrer la commande</button>
    </div>
    <hr/>
    <h4 id="a_payer">À payer : 0.00€</h4>
    <h4 id="a_rendre">À rendre :</h4>
    <ul id="change-list" class="list-group"></ul>
    <hr/>
    <div class="d-grid gap-2">
      <button id="send_club" class="btn btn-commande btn-success btn-lg m-3">Commande club</button>
      <button id="send_organisateur" class="btn btn-commande btn-success btn-lg m-3">Commande organisateur</button>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<script>
  const PRODUCTS = {{ products| tojson }};
</script>
{% endblock %}